<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/linling</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.linLing.project.po.SysUsers"/>
      <mapping class="com.linLing.project.po.ScCourse"/>
      <mapping class="com.linLing.project.po.ScNews"/>
      <mapping class="com.linLing.project.po.ScPolicy"/>
      <mapping class="com.linLing.project.po.SysRole"/>
      <mapping class="com.linLing.project.po.XmProject"/>
      <mapping class="com.linLing.project.po.XmProjectExamine"/>
      <mapping class="com.linLing.project.po.XmProjectProcess"/>
      <mapping class="com.linLing.project.po.SysMenu"/>
      <mapping class="com.linLing.project.po.SysRolePermission"/>
      <mapping class="com.linLing.project.po.SysUserRole"/>
      <mapping class="com.linLing.project.po.SysDictionary"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>